@import url("https://fonts.googleapis.com/css?family=Barlow:600|Vollkorn");

:root {
  /* --blue: #2654ab; */
  --blue: #4485d3;
  --orange: #f27831;
  --yellow: #FFAE00;
  --white: #e5ebf4;
  --display: "Vollkorn", serif;
  --text: "Barlow", sans-serif;
}

.signup {
  height: 5vh;
  width: 100vw;
  /* border: 2px solid red; */
  justify-content: center;
  padding-top: 1vh;
  display: flex;
  color: var(--yellow);
  background-color: var(--blue);
  letter-spacing: 1.5px;
  font-size: 2vh;
}
.sign {
  color: var(--orange);
}
nav{
    height: 70px;
    background-image: linear-gradient(to top, #1e3c72 0%, #193a76 1%, #3975bf 100%);
       /* background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%); */


}
.collapse {
    width: 100%;
    overflow: scroll;
    background-color: #094084e4;
}


.navbar-brand {
    margin-right: 11vw;
    height: 100%;
    position: relative;
  }
.logo {
  width: 200px;
  position: absolute;
}

.navbar-dark .navbar-nav .nav-link {
  color: var(--white);
  font-family: var(--display);
  letter-spacing: 1.8px;
  font-size: 1.6vh;
  font-weight: 550 !important
}

.collapse .navbar-collapse{
background-color: black;
}

.donate {
margin-right: 5px;
padding:p 1px;
  font-size: 2vh;
  color: var(--blue) !important;
  background-color: var(--orange) !important;
  border-radius: 2px;

}

.donatefont {
  color: #1e3c72 !important;
font-family: var(--text) !important;
letter-spacing: 1px !important;

}



