@import url("https://fonts.googleapis.com/css?family=Barlow:600|Vollkorn");

:root {
  /* --blue: #2654ab; */
  --blue: #4485d3;
  --orange: #f27831;
  --yellow: rgba(233, 189, 12, 0.913);
  --white: #e5ebf4;
  --display: "Vollkorn", serif;
  --text: "Barlow", sans-serif;
}


.tweets-app {
  height: 80vh;
  overflow: scroll;

}

.notification-bar{
  background-color: var(--yellow) !important

}



@media all and (max-width: 480px) { 
  .show{
    display: flex;
    flex: 1;
    /* border: 2px solid red; */
    font-family: var(--text)

  }

  .show button{
    height: 50px;
     flex: 1;
     cursor: pointer;
     font-size: 1.8vh;
     font-weight: 500 !important;
    border-top: 10px solid grey;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
  }

  a, a:active, a:hover {
    color:black !important;
    text-decoration: none;
  }

  .orange{
    background-color: var(--orange);
  }

  .hide{
    display: none
  }


 }