@import "../../App.css";
@import "../../components/Header/Header.css";

.tweets-app {
  height: 180px; 
 /* border: 2px solid red;  */

/* height: 700px;
overflow: scroll; */

}
.tweets{
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  
}
.active{
  display: inline-block !important;
  width: 100%;
  overflow-wrap:break-word;
  height: 180px; 

}
.notification-bar{
  background-color: var(--yellow) !important;
  
}

@media all and (max-width: 480px) { 
  .home-h1 {
    height: 45px;
    width: 250px;
    margin:0 auto;
    margin-top: -25px;
    margin-bottom: 7px;
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    

    font-family: var(--text);
    font-size: 3vh;
    background-image: var(--gradient);
    border-radius: 2px;
    z-index: 100;
  }

  .home-h1 span {
    font-size: 25px;
    color: var(--white);
    margin-top: 3px;
    display: flex;
    justify-content: center;
    text-shadow: 2px 0px 3px black;
  }

 

 }