.app {
padding: 2vw 5vw;
min-height: 90vh;
}

.wrapper-container{
  margin: 3vw 10vw;
}

.h1Title{
  margin: 20px;
}

.card {
  height: 100%;
  min-height: 268px;
  /* margin-left: -15px; */
  margin: 15px;
  width: 100%;


}

.card-header, .card-footer{
  background-color: var(--blue);
  height: 73px;
}

.card-header{
  justify-content: center
}

.blogTitle{
  color: var(--white);
  font-size: 2em;
}
.deletePost{
  float: right ;
  position: absolute;
right: 1em;
top: 20px;
}

.card-img-top{
  height: 300px;
  width: 100%;
 align-content: center;
 object-fit: cover
 
}
.card-body {
  overflow: scroll !important;
  font-family: var(--text2)
}

.collapse{
  width: 100%;
  overflow: scroll;
}

/* CardHeader{
  
} */

.btn-secondary {
  background: NONE;
  border: 0;
}

.btn-secondary:hover {
  /* background-color: #9ca4ab3a; */
  background-color: #f9ec5bfe;
  color: crimson;
}
